$lightGreen: rgba(170,246,131,0.7)
$darkGreen: #5da271
.container
    width: 600px
    height: 400px
    margin: 20px auto
    *
        font-size: 20px
    h1
        text-align: center
        font-size: 46px
        font-weight: 700
        color: $darkGreen
    form
        width: 90%
        margin: 0 auto
        .btn--green
            width: 100%
            border: 0
            background: $lightGreen
        .btn--white
            width: 100%
            margin: 5px auto
            border: 1px solid $lightGreen
            background: white
            