<script>
    //XSS
    function XSS(str){
        var lt = /</g, 
        gt = />/g, 
        ap = /'/g, 
        ic = /"/g;
        str = str.toString().replace(lt, "&lt;").replace(gt, "&gt;").replace(ap, "&#39;").replace(ic, "&#34;");
        return str
    }
    //新增留言
    $('body').on("submit", ".createCommentForm", function(evt){
        evt.preventDefault()
        var parames = {
            nickname:XSS($(evt.currentTarget).find('input[name="nickname"]').val()),
            content:XSS($(evt.currentTarget).find('textarea[name="content"]').val()),
            parent:$(evt.currentTarget).find('input[name="parent"]').val()
        }
        $.ajax({
            data: parames,
            url: '/createComment',
            method: 'POST',
            success: function(response){
                console.log(response.id)
                if(parames.parent==0){
                    $(prependMain(parames.nickname, response.createdAt, response.id, parames.content)).insertAfter($(evt.currentTarget).parent())
                    //$('.Y-container').prepend(prependMain(parames.nickname, response.createdAt, response.id, parames.content))
                } else {
                    $(evt.currentTarget).parent().parent().prev().prepend(prependSub(parames.nickname, response.createdAt, response.id, parames.content))
                }
            }
        })
        $(evt.delegateTarget).find('textarea[name="content"]').val("")
        
    })
    //刪除留言
    $(".Y-container").on("submit", ".deleteForm", function(evt){
        evt.preventDefault()
        var parames = {
            deleteId:$(evt.currentTarget).find('input[name="deleteId"]').val(),
        }
        if(confirm('確定要刪除嗎?')){
            $.ajax({
                data: parames,
                url: '/deleteComment',
                method: 'POST',
                success: function(){
                    console.log('delete successfully')
                }
            })
            if($(evt.currentTarget).parent()[0].className=='comment__main__function row'){
                $(evt.currentTarget).closest('.comment').css("display","none");
            } else {
                $(evt.currentTarget).closest('.comment__sub').css("display","none");
            }
        }
    })

    //顯示編輯框
    $(".Y-container").on("click", ".btn--edit", function(evt){
        if($(evt.currentTarget).parent()[0].className=='comment__main__function row'){
            $(evt.currentTarget).closest('.comment__main').find('.comment__main__content').toggle();
            $(evt.currentTarget).closest('.comment__main').find('.comment__main__updateForm').toggle();
        } else {
            $(evt.currentTarget).closest('.comment__sub').find('.comment__sub__content').toggle();
            $(evt.currentTarget).closest('.comment__sub').find('.comment__sub__updateForm').toggle();            
        }
    })

    //編輯
    $(".Y-container").on("submit", ".updateForm", function(evt){
        
        evt.preventDefault()
        let parames = {
            updateId: $(evt.currentTarget).find('input[name="updateId"]').val(),
            updateComment: XSS($(evt.currentTarget).find('textarea[name="updateComment"]').val()),
        }
        $.ajax({
            data: parames,
            url: '/updateComment',
            method: 'POST',
            success: function(){
                console.log('update successfully')
            }
        })
        console.log($(evt.currentTarget).parent().prev())    
        $(evt.currentTarget).parent().toggle()
        $(evt.currentTarget).parent().prev().toggle();   
        $(evt.currentTarget).parent().prev().html(parames.updateComment);        
        
    })

    function prependMain(u_nickname, u_createdAt, u_id, u_content){
        return `<div class='comment shadow-sm p-3 mb-3 bg-white rounded row' >
                <div class='comment__main'>
                <div class='comment__main__info'>
                    <div class='comment__main__nickname'>${u_nickname}</div>
                    <div class='comment__main__createdAt'>${u_createdAt}</div>
                    <div class='comment__main__function row'>
                        <form class='deleteForm'>
                            <input class="form-control" type='text' name='deleteId' value="${u_id}" hidden>
                            <input class="main__function--delete" type='submit' name="delete" value='刪除'>
                        </form>
                        <button class="btn--edit main__function--edit" type="button" class="button">編輯</button>
                    </div>
                </div>
                <div class='comment__main__content'>${u_content}</div>
                <div class='comment__main__updateForm form-group p-3 bg-white rounded'>
                    <form class='updateForm'>
                        <input type='text' name='updateId' value="${u_id}" hidden>
                        <textarea class="form-control" name="updateComment">${u_content}</textarea>
                        <div style='height: 10px;'></div>
                        <button class="btn btn-outline-info my-2 my-sm-0 btn-lg btn-block" type="submit">更新</button> 
                    </form>
                </div>
                </div>
                <div class='comment__subs'>
                </div>

                <div class='comment__form'>
                    <div class='form-group'>
                        <form class='createCommentForm'>
                            <input type='text' name='nickname' value='<%=user%>' hidden>
                            <input type='text' name='parent' value="${u_id}" hidden>
                            <textarea class="form-control" name="content" placeholder="回應："></textarea>
                            <input type='submit' name='submit' value='送出'>
                        </form>
                    </div>
                </div>
                </div>`
    }
    function prependSub(u_nickname, u_createdAt, u_id, u_content){
        console.log(u_content)
        return `
            <div class='comment__sub container'>
                <div class='comment__sub__info row'>
                    <div>${u_nickname}</div>
                        <div class='comment__sub__function row'>
                            <form class='deleteForm'>
                                <input type='text' name='deleteId' value="${u_id}" hidden>
                                <input class="sub__function--delete" type='submit' name="delete" value='刪除'>
                            </form>
                            <button class="btn--edit sub__function--edit" type="button" class="btn btn-primary">編輯</button>
                        </div>
                </div>

                <div class='comment__sub__content row'>${u_content}</div>

                <div class='comment__sub__updateForm form-group p-3 bg-white roundeds'>
                    <form class='updateForm'>
                        <input type='text' name='updateId' value="${u_id}" hidden>
                        <textarea class="form-control" name="updateComment">${u_content}</textarea>
                        <div style='height: 10px;'></div>
                        <button class="btn btn-outline-info my-2 my-sm-0 btn-lg btn-block" type="submit">更新</button> 
                    </form>
                </div>
            </div>`

    }
</script>