
body{
    box-sizing: border-box;
}
body *{
    
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.post,
.newpost{
    background: white;
    opcacity: 50%;
}
.newpost{
    width: 500px;
    display: flex;
    margin: 20 auto;
    box-shadow: 0.5px 0.5px 2px 1px grey;
}
.newpost > .avater{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: float;
    margin: 10px;
    background: pink;
}
.newpost textarea{
    width: 430px;
    border: 0;
    padding: 10px;
}
.newpost input[type='submit']{
    position: relative;
    left: 350px;
    height: 30px;
    width: 80px;
    color: white;
    background-color: #3b5998;
    border: 0;
}
.post{
    padding: 10px;
    width: 500px;
    box-shadow: 0.5px 0.5px 2px 1px grey;
    margin: 10px auto;
}
.main{
    border-bottom: 1px solid gainsboro;
    margin-bottom: 30px;
    padding: 5px;
    position: relative;
}
.avater{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 5px;
    background-color: #3b5998;
}
.sub{
    padding: 5px;
    position: relative;
}
.info{
    display: flex;
    align-items: center;
}
.sub .avater{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.idandcontent{
    border-radius: 15px;
    background-color: aliceblue;
    padding: 8px;
    position: relative;
}
.idandcontent *{
    display: inline-block;
}
.main__id,
.sub__id{
    color: #3b5998;
    font-weight: 600px;
}
.main__timestamp,
.sub__timestamp{
    color: grey;
    font-size: 12px;
}
.sub__timestamp{
    position: relative;
    left: 40px;
}
.addpost{
    padding: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;    
}
.addpost input[type='text']{
    padding: 3px;
    border: 0;
    border: 1px solid gainsboro;
    box-shadow: 0px 0.5px 0.5px 0.5px gainsboro;
    border-radius: 8px;
    width: 450px;
}
.addpost > .avater{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: pink;
}
.subs{
    border-top: 1px solid gainsboro;
}
.main__content{
    margin: 10px 0 10px 0;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.user{
    color: #3b5998;
    font-size: 22px;
    margin-right: 6px;
}
.navbar input[type='submit']{
    border: 0;
    position: relative;
    top: 8px;
    padding: 5px;
}
.page{
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.memberfunction{
    width: 88px;
    position: absolute;
    right: 5px;
    top: 5px;

}
.memberfunction input{
    font-size: 14px;
    width: 40px;
    border-radius: 3px;
}
